@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #000;
}

.main {
	padding: 13px 11px;
}

.padding-block {
	padding: 7px;
}

.block {
	transition: all 0.3s ease-out;
	opacity: 0.8;
	height: 156px;
}

.logo {
	background: #2FB1BE;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	padding: 0px;
}

.logo:hover {
	background: #fff;
	color: #2FB1BE;
}

.logo img {
	display: block;
	float: left;
	opacity: 0.9;
}

.logo .name {
	margin-top: 20px;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
}

.facebook {
	background: #43609C;
	color: #FFFFFF;
	text-align: center;
	font-size: 48px;
	padding: 46px 0px;
}

.facebook:hover {
	background: #FFFFFF;
	color: #43609C;
}